
.leftside, .rightside {
    height: 50vh;
    width: 100%;
}

.leftside, .with-nonce {
    background-color: aliceblue;
}

.rightside, .with-hash {
    background-color: antiquewhite;
}

h3 + a {
    clear: left;
}

.with-nonce, .with-hash {
    width: 100%;
    height: 100vh;
}

ul {
    list-style-type: none;
}

@media screen and (min-width: 768px) {
    .leftside, .rightside {
        height: 100vh;
    }
}

@media screen and (max-width: 580px) {
    .rightside {
        font-size: small;
    }
}

@media screen and (max-width: 420px) {
    .rightside {
        font-size: x-small;
    }
}